
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*434px*/
.sidebar{
    position: absolute;
    background-color: rgb(168, 159, 159);
    /* width: 320px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 200vh;
    transition: transform 0.3s ease;
}
.sidebar nav{
    padding: 15px;

}
.sidebar nav li{
    list-style: none;
    font-size: larger;
    padding: 30px 0;
}
.sidebar nav li a{
   text-decoration: none;
   color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.info-container{
   /* background-color: rgb(202, 9, 128); */
   height: 58vh;
   width: 80vw;
   margin: 144px auto;
   display: flex;
   justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.hello{
    font-size: 45px;
    font-weight :lighter;
}
.name{
    font-size: 60px;
}
.about{
    font-size: 29px;
    margin-top: 23px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.buttons{
    margin-top: 34px;
}
.btn{
      padding: 9px 14px;
      border-radius: 22px;
      color: white;
      background-color: dodgerblue;
      font-weight: bold;
      font-size: 21px;
      margin: 0 3px;
      cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.devPic img{
    height: 58vh;
    
}
.contactform{
    padding: 0 50px ;
    padding-top: -30px;
    font-family: 'Fira Sans' , sans-serif;
    margin: -145px 88px;
}
.contactform h1{
    font-family: 'Source Code Pro' ,monospace;
    padding: 12px 0;
    
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 20px;
    margin: 2px 0;
}


.blogItem{
    margin: 20px;
    font-family: 'Fira Sans' , sans-serif;
}
.blogContainer{
    margin: 40px 88px;
}
h1{
    font-family: 'Fira Sans' , sans-serif;
    margin: 23px;
}
p{
    font-family: 'Source Code Pro',monospace;
}
.intro{
    margin: 40px 88px;
}
.intro h2{
    font-family: 'Fira Sans' , sans-serif;
    margin: 12px;
}
.intro p{
    font-family: 'Source Code Pro',monospace;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro',monospace;
}
.skill{
    width: 265px;
    height: 6px;
    /* background-color: red; */
    border: 2px solid black;
}
.hundred{
    width: 265px;
    background-color: violet;
}
.seventyfive{
    width: 125px;
    background-color: greenyellow;
}
.fortyfive{
    width: 120px;
    background-color: blue;

}
.thirtyfive{
    width: 90px;
    background-color: red;
}
.thirty{
    width: 85px;
    background-color: brown;
}
.twentyfive{
    width: 80px;
    background-color: chocolate;
}
.sidebarGo{
    transform: translate(-443px , 0px);
    position: absolute;
}

@media(max-width:1615px){
    *{
        /* background-color: red;   */
    }
    /* .devPic{
        display: none;
    } */
    .intro, .blogContainer , .contactform{
        margin:50px 8px;
    }
    /* .sidebar{
        transform: translate(-443px , 0px);
        position: absolute;
    } */
    
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 8px;
}
.ham{
    margin-top: -9px;
}
.cross{
    margin-left: 121px;
    margin-top: -10px;
}

